<footer class="main-footer">
    <span>made with love by <a href="https://github.com/donseba">Sebastiano Bellinzis</a></span>
    <span aria-hidden="true">||</span>
    <span><a href="https://savage-software.nl">savage software</a></span>
</footer>
