{{/* @dot donseba/go-webthings-docs/internal/website.PageData */}}
<section class="main-webring" aria-label="External resources">
    <p>web ring</p>
    <a target="_blank" href="https://go.dev/">go.dev</a>
    <a target="_blank" href="https://htmx.org/">htmx</a>
    <a target="_blank" href="https://tailwindcss.com/">tailwindcss</a>
    <a target="_blank" href="https://pkg.go.dev/html/template">html/template</a>
    <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTTP">http</a>
    <a target="_blank" href="https://github.com/donseba/gowebthings">GitHub</a>
</section>
