{{/*
@dot github.com/donseba/go-partial/examples/showcase.AsyncRow
*/}}
{{ flash }}
<div class="grid gap-2 border border-stone-300 border-l-4 border-l-teal-700 bg-teal-50/40 p-3.5 text-stone-950 grid-cols-[1fr_auto]">
    <strong>{{ .Row.Name }}</strong>
    <span>{{ .Row.Status }}</span>
    <small>Loaded at {{ .RenderedAt }}</small>
</div>
