{{/*
@dot github.com/donseba/go-partial/exp/flash.Data
*/}}
<aside id="{{ .TargetID }}" class="fixed right-5 top-5 z-50 grid w-[380px] max-w-[min(380px,calc(100vw-40px))] gap-2" aria-live="polite" aria-atomic="false"></aside>
