{{/*
@dot github.com/donseba/go-partial/examples/showcase.LiveMetricPing
*/}}
<div id="live-metrics-ping" class="rounded-md border border-teal-200 bg-teal-50 p-3 text-sm font-bold text-teal-950">
    Sample rendered at {{ .Time }}.
</div>
