{{/*
@dot donseba/go-webthings-docs/internal/showcase.LiveMetricPing
*/}}
<div id="live-metrics-ping" class="border border-cyan-400/70 bg-[#071226] p-3 text-sm font-bold text-sky-100">
    Sample rendered at {{ .Time }}.
</div>
